*
{
    padding: 0px;
    border: 0px;
    /* overflow: hidden; */
}

body
{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.navbar-nav a img
{
    height: 22px;
}

.navbar-brand img
{
    margin-left: 50px;
    height: 30px;
}

.nav-link
{
    margin: 0px 50px 0px 50px;
    color: aliceblue;
}

.smile
{
    
}






section
{
    height: 160dvh;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

}

aside
{
    height: 50% ;
    width: 90%;
}
img
{
    cursor: pointer;
}

article
{
    height: 60%;
    display: flex;
    justify-content: center;
}

.heading
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

.body
{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    width: 100%;
    height: fit-content;
}

.btn
{
    height: 100px;
    width: 200px;
    border-radius: 0px;
    margin: 5px;
}

.dummy
{
    height: 15%;
}





/* btn */
.button-26 {
    

  appearance: button;
  background-color: rgb(0, 0, 0);
  border: none;
  /* border-radius: 4px; */
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  /* line-height: 1.15; */
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  /* text-align: center; */
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: fit-content; */
  display: flex;
    justify-content: center;
    align-items: center;
}

.button-26:disabled {
  opacity: .5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #ffffff;
  border: solid black;
  }

.button-26:active {
  background-color: #000000;
  ;
}








@media all and (max-width:1170px)
{
    section
{
    height: 300dvh;
}
}


@media all and (max-width:700px)
{
    section
{
    height: 350dvh;
}
}

@media all and (max-width:468px)
{
    .btn
{
    height: 75px;
    width: 100px;
    border-radius: 0px;
    margin: 5px;
}

section
{
    height: 20dvh;
}
}